@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
    --text-color: #121214;
    --tt-color: #202024;
    --header-color: #065E7C;
    --footer-color: #387E96;
    --text-white: #ffffff;
}
header{
    background: var(--header-color);
}
header .container{
    display: flex;
    gap: 2.6rem;
}
#logo{
    background: var(--text-white);
    padding: .8rem;
}
header input{
    background-color: var(--footer-color);
    border-radius: .4rem;
    border: none;
    padding: 1.6rem 2.4rem;
    color: var(--text-white);
    flex: 1;
}
#user, #logo{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}
.container{
    padding: 1.2rem 1.4rem;
    margin: 0 auto;
    max-width: 45rem;
}
#main{
    width: 45rem;
    height: 22rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
#assessment{
    display: flex;
    gap: 1.2rem;
}
#assessment img{
    width: 4rem;
    height: 4rem;
}
#main-title{
    margin: 3.1rem 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
h1, h2{
    font-size: 2.4rem;
    color: var(--tt-color);
}
strong{
    font-size: 1.8rem;
    color: var(--tt-color);
}
p{
    font-size: 1.6rem;
    color: var(--text-color);
}
img{
    width: 100%;
    border-radius: .4rem;
}
select{
    margin-bottom: 3.4rem;
}
h2{
    margin-bottom: 3.2rem;
}
.cards{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}
.cards img{
    width: 15rem;
    object-fit: cover;
    aspect-ratio: 16/9;
    height: 8.4rem;
}
footer{
    background: var(--footer-color);
    color: var(--text-white);
    text-align: center;
    font-size: 1.6rem;
}
@media (width > 770px){
    header .container,
    footer .container{
        padding: 1.6rem 10.6rem;
    }
    .container{
        max-width: 100%;
    }
    main{
        padding: 1.6rem 10.6rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    #main{
        width: 100%;
        aspect-ratio: 2/1;
        height: auto;
    }
    #main-title{
        flex-direction: row;
        justify-content: space-between;
    }
    article{
        margin-left: 3.4rem;
    }
}